body {
	padding-top: 70px;
	padding-bottom: 40px;
}

.container {
	max-width: 900px;
}

.jumbotron {
	text-align: center;
}

.carousel-indicators {
	bottom: 0;
}

.footer {
	text-align: center;
	padding-top: 5px;
}

.carousel {
	padding: 0;
	background-color: white;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}