body {
	padding-top: 70px;
	padding-bottom: 40px;
}

.container {
	/*max-width: 850px;*/
}

.jumbotron {
	text-align: center;
}

.footer {
	text-align: center;
	padding-top: 0px;
	border-top: 1px solid #F0F0F0;
}

.footer p {
	margin: 2px auto;
}

.carousel {
	padding: 0;
	background-color: white;
	margin-bottom: 0;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.big-carousel {
	background-color: #181818;
}

.big-carousel p {
	color: white;
}

.thumbnail {
	margin-bottom: 0;
}

.navbar-default {
	background-image: none;
	background-color: white;
	opacity: 0.99;
  	-webkit-box-shadow: none !important;
  	border-bottom: 1px solid #F0F0F0;
}

.navbar-brand {
	font-size: 20px;
}

.nav-link-active {
  	background-color: #F8F8F8;
}

.nav-link-active a {
	color: red;
  	text-decoration: none;
}

.well {
	padding: 10px;
	margin-top: 20px;
	max-width: 95%;
	background: #F8F8F8;
	display: inline-block;
	overflow-x: scroll;
	overflow-y: none;
	white-space: nowrap;
}
.chevron {
	width: 100px;
	height: 100px;
}
.thumb {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.img-responsive {
	height: 80px;
	max-height: 80px;
	min-height: 80px;
}

p.caption {
	line-height: 1.3;
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.carousel-img {
	max-height: 600px;
	margin: 0 auto;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	font-size: 100px;
	margin-top: -80px;
}

.modal-dialog {
    width: 98%;
    height: 97%;
    margin-top: 10px;
}

.modal-content {
	text-align: center;
    height: 100%;
    border-radius: 0;
    background-color: #181818;
}

.modal-image {
	max-height: 95%;
	max-width: 95%;
}

.blog-post {
	background-color: #F8F8F8;
	max-width: 700px;
	padding: 20px 20px 10px 20px;
	margin-top: 20px;
	margin-bottom: 55px;
	border-radius: 25px;
}

.blog-post img {
	border-radius: 5px;
	max-width: 40%;
	max-height: 200px;
	height: auto;
	margin: 8px 0 0 15px;
	float: right;
}

.blog-post p {
	text-align: justify;
	max-width: 700px;
	font-size: 1.1em;
	line-height: 1.8;
	margin-bottom: 25px;
}

.blog-post h2 {
	margin-bottom: 10px;
	margin-top: 5px;
}

.blog-post h5 {
	margin-bottom: 20px;
	color: #888888;
	font-weight: normal;
	font-size: 13px;
}

.bio {
	margin-top: 20px;
	text-align: center;
	background-color: #F8F8F8;
	max-width: 700px;
	padding: 20px;
	margin-bottom: 60px;
	border-radius: 25px;
}

.bio h2 {
	margin-bottom: 10px;
	margin-top: 5px;
}

.bio p {
	max-width: 700px;
	font-size: 1.1em;
	line-height: 1.8;
}

.glyphicon-calendar {
	margin-right: 8px;
}

.close {
	opacity: 1;
    color: #B0B0B0;
	font-size: 30px;
}

.close:hover,
.close:focus {
	opacity: 1;
    color: white;
}

.contact-container {
	display: none;
	max-width: 65px;
	position: fixed;
	bottom: 5%;
	right: 0;
}

.contact-container img {
	max-height: 50px;
	max-width: 50px;
}

.logo {
	opacity: 0.2;
}

.logo:hover {
	opacity: 0.4;
}

@media (min-width: 768px) {
  .contact-container {
    display: inline-block;
  }
}