body {
	padding-top: 70px;
	padding-bottom: 40px;
}

.container {
	max-width: 900px;
}

.jumbotron {
	text-align: center;
}

.carousel-indicators {
	bottom: 0;
}

.footer {
	text-align: center;
	padding-top: 7px;
	border-top: 1px solid #F0F0F0;
}

.carousel {
	padding: 0;
	background-color: white;
	margin-bottom: 0;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.thumbnail {
	margin-bottom: 0;
}

#thumbnailContainer {
	max-width: 95%;
	padding: 10px;
	margin-top: 20px;
}

#caption {
	text-align: center;
	max-width: 720px;
}

.navbar-default {
	background-image: none;
	background-color: white;
	opacity: 0.99;
  	-webkit-box-shadow: none !important;
}

.navbar-brand {
	font-size: 20px;
}

li.active {
    background: #F0F0F0;
}

.well {
	background: #F8F8F8;
}

